/* Reset */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

/* Mobile friendly */
:root {
  --tabbar-h: 64px;
  --safe-bottom: env(safe-area-inset-bottom, 0px);
  --page-px: 16px;
  --page-py: 16px;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1f1b2d;
  background-color: #f7f6ff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Optional: smoother scrolling */
.app-scroll {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

html {
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}


